<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
        <!--加载properties文件  -->
        <context:property-placeholder location="classpath:db.properties"/>
		<!-- 数据源 -->
		<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		</bean>
		<!-- session工厂的获得 -->
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		
		<!--数据库连接池  -->
		<property name="dataSource" ref="dataSource"></property>
		
		<!--加载mybatis的全局配置文件  -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		</bean>
		
		<!--创建Mapper文件的代理对象  -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		
		<!--扫描mapper包中的接口  -->
		<property name="basePackage" value="com.yaofeng.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
		</bean>
		
		<!-- 事物的管理  用切面 aop -->
		<bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<!-- 数据源 -->
			<property name="dataSource" ref="dataSource"></property>
		</bean>
		<!-- 事物的通知/策略 -->
		<tx:advice transaction-manager="transactionManager" id="txAdvice">
		<tx:attributes>
    		 <!-- 传播行为 -->
		    <tx:method name="save*" propagation="REQUIRED"/>
		    <tx:method name="insert*" propagation="REQUIRED"/>
		    <tx:method name="delete*" propagation="REQUIRED"/>
		    <tx:method name="update*" propagation="REQUIRED"/>
		    <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
		    <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
  		</tx:attributes>
	</tx:advice>
		<!--事物切面  -->
		<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* service..*.*(..))"/>
		</aop:config>
		
		<!-- 扫描service包 -->
		<context:component-scan base-package="com.yaofeng.service"></context:component-scan>

</beans>